# disabled for all by default
*
!.*.*

# enabled for spotify only
!/spotify/
!/spotify/**/
!/spotify/**/*

# add more exceptions to enable for other plugins
# ...

# those should be the last entries to ignore them again after exceptions
node_modules/
