{
	"fallback_sr": "",
	"unsupported_sr": "",
	"bf_client_connection": "/tmp/mdsp-bf.socket",
	"mpd_client_connection": "/var/run/mpd/socket",
	"core_fifo": "/tmp/mdsp-core.fifo",
	"audio_type": "",
	"float_bits": "",
	"out_device": "volumioHw",
	"out_device_number": "",
	"out_bit_depth": "",
	"out_volume": "",
	"filter_coeff_id": "",
	"filter_coeff_extension": ".dbl",
	"filter_coeff_format": "FLOAT64_LE",
	"apply_dither": "",
	"filter_partitions": "",
	"sampling_rate": "",
	"in_fifo": "mdsp-mpd.fifo",
	"in_fifo_delay": "0.6",
	"in_bit_depth": "",
	"max_delay": "",
	"delay_file_name": "delays-ms.json",
	"enable_pushmsg": "true",
	"pid_mpdclient": "",
	"pid_gdbus": "",
	"gui_msg_file": "/tmp/mdsp-guimsg.txt",
	"eq_enabled": "false",
	"eq_bands": "31.5,63,125,250,500,1000,2000,4000,8000,16000",
	"eq_magnitude": "0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0",
	"eq_phase": "0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0",
	"eq_preset_file": "eq10-preset.json"
}
