[Unit]
Description=Squeezelite lightweight headless Squeezebox emulator
After=sound.target
Requires=avahi-daemon.service network.target sound.target
After=network.target avahi-daemon.service sound.target

[Service]
ExecStart=/opt/squeezelite -n Volumio -o volumio -a 80:4:: 
Restart=always

[Install]
WantedBy=multi-user.target