@charset "UTF-8";
#now-playing {
  /* Default styles */
  --default-base-font-size: 10px;
  --default-title-font-size: 1.5em;
  --default-artist-font-size: 1em;
  --default-album-font-size: 0.8em;
  --default-media-info-font-size: 0.7em;
  --default-title-font-color: #fff;
  --default-artist-font-color: #ccc;
  --default-album-font-color: #ccc;
  --default-media-info-font-color: #ccc;
  --default-text-alignment-h: unset;
  --default-text-alignment-v: unset;
  --default-title-margin: 0px 0px 0.2em 0px;
  --default-artist-margin: unset;
  --default-album-margin: unset;
  --default-media-info-margin: 0.8em 0px 0px 0px;
  --default-max-title-lines: 1;
  --default-max-artist-lines: 1;
  --default-max-album-lines: 1;
  --default-widget-primary-color: #fff;
  --default-widget-highlight-color: #24a4f3;
  --default-playback-buttons-visibility: flex;
  --default-seekbar-visibility: inherit;
  --default-playback-buttons-size: 1.5em;
  --default-playback-buttons-margin: 1em 0px;
  --default-seekbar-margin: unset;
  --default-albumart-visibility: inherit;
  --default-albumart-width: 0px;
  /* To be determined in JS */
  --default-albumart-height: 0px;
  /* To be determined in JS */
  --default-albumart-fit: cover;
  --default-albumart-border-radius: 0px;
  --default-track-info-width: auto;
  --default-track-info-height: auto;
  --default-track-info-min-width: auto;
  --default-track-info-min-height: auto;
  --default-track-info-max-width: auto;
  --default-track-info-max-height: auto;
  --base-font-size: var(--default-base-font-size);
  --title-font-size: var(--default-title-font-size);
  --artist-font-size: var(--default-artist-font-size);
  --album-font-size: var(--default-album-font-size);
  --media-info-font-size: var(--default-media-info-font-size);
  --title-font-color: var(--default-title-font-color);
  --artist-font-color: var(--default-artist-font-color);
  --album-font-color: var(--default-album-font-color);
  --media-info-font-color: var(--default-media-info-font-color);
  --text-alignment-h: var(--default-text-alignment-h);
  --text-alignment-v: var(--default-text-alignment-v);
  --title-margin: var(--default-title-margin);
  --artist-margin: var(--default-artist-margin);
  --album-margin: var(--default-album-margin);
  --media-info-margin: var(--default-media-info-margin);
  --max-title-lines: var(--default-max-title-lines);
  --max-artist-lines: var(--default-max-artist-lines);
  --max-album-lines: var(--default-max-album-lines);
  --widget-primary-color: var(--default-widget-primary-color);
  --widget-highlight-color: var(--default-widget-highlight-color);
  --playback-buttons-visibility: var(--default-playback-buttons-visibility);
  --seekbar-visibility: var(--default-seekbar-visibility);
  --playback-buttons-size: var(--default-playback-buttons-size);
  --playback-buttons-margin: var(--default-playback-buttons-margin);
  --seekbar-margin: var(--default-seekbar-margin);
  --albumart-visibility: var(--default-albumart-visibility);
  --albumart-width: var(--default-albumart-width);
  --albumart-height: var(--default-albumart-height);
  --albumart-fit: var(--default-albumart-fit);
  --albumart-border-radius: var(--default-albumart-border-radius);
  --track-info-width: var(--default-track-info-width);
  --track-info-height: var(--default-track-info-height);
  --track-info-min-width: var(--default-track-info-min-width);
  --track-info-min-height: var(--default-track-info-min-height);
  --track-info-max-width: var(--default-track-info-max-width);
  --track-info-max-height: var(--default-track-info-max-height);
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  box-sizing: border-box;
  background-size: 100% 100%;
  font-size: var(--base-font-size);
  /* Action panel trigger */
  /**
  * Landscape Orientation
  */
  /**
  *  Portrait Orientation
  */
  /* Base font sizes */
  /**
  * Landscape Orientation
  */
  /**
  *  Portrait Orientation
  */
}
#now-playing .dock {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 0.5em;
  z-index: 2;
}
#now-playing .dock.top-left, #now-playing .dock.top, #now-playing .dock.top-right, #now-playing .dock.bottom-left, #now-playing .dock.bottom, #now-playing .dock.bottom-right {
  flex-direction: row;
}
#now-playing .dock.top-left {
  top: 0;
  left: 0;
}
#now-playing .dock.top {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
#now-playing .dock.top-right {
  top: 0;
  right: 0;
}
#now-playing .dock.bottom-left {
  bottom: 0;
  left: 0;
}
#now-playing .dock.bottom {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
#now-playing .dock.bottom-right {
  bottom: 0;
  right: 0;
}
#now-playing .dock.left, #now-playing .dock.right {
  flex-direction: column;
}
#now-playing .dock.left {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
#now-playing .dock.right {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
#now-playing .dock > *:not(.no-margin) {
  margin: 20px;
}
#now-playing .action-panel-trigger {
  border: none;
  background: none;
  cursor: pointer;
  transition: 0.2s;
  color: var(--widget-primary-color);
  width: 2em;
  height: 2em;
  transition: 0.2s;
  font-size: 1em;
  margin-top: 0.5em;
  opacity: 0.5;
}
#now-playing .action-panel-trigger:hover {
  color: var(--widget-highlight-color);
  opacity: 0.8;
}
#now-playing > .contents {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}
#now-playing .albumart {
  display: var(--albumart-visibility);
  z-index: 1;
  margin-right: 12px;
}
#now-playing .albumart img {
  /**
  * Commenting out following since legacy Chromium on Volumio 2.x
  * doesn't support min()
  width: min(40vw, 80vh);
  height: min(40vw, 80vh);
  */
  filter: drop-shadow(0 0 8px #00000080);
  -o-object-fit: var(--albumart-fit);
     object-fit: var(--albumart-fit);
  display: block;
  /* https://stackoverflow.com/questions/5804256/image-inside-div-has-extra-space-below-the-image */
  width: var(--albumart-width);
  height: var(--albumart-height);
  border-radius: var(--albumart-border-radius);
}
#now-playing .track-info {
  z-index: 1;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  color: #ccc;
  font-weight: 700;
  text-align: var(--text-alignment-h);
  width: var(--track-info-width);
  height: var(--track-info-height);
  min-width: var(--track-info-min-width);
  min-height: var(--track-info-min-height);
  max-width: var(--track-info-max-width);
  max-height: var(--track-info-max-height);
}
#now-playing .track-info .text {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: var(--text-alignment-v);
}
#now-playing .track-info .text .title {
  display: -webkit-box;
  color: var(--title-font-color);
  font-family: "Noto Sans Display", sans-serif;
  font-size: var(--title-font-size);
  margin: var(--title-margin);
  line-height: 1.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: var(--max-title-lines);
  -webkit-box-orient: vertical;
  word-break: break-word;
}
#now-playing .track-info .text .artist {
  display: -webkit-box;
  color: var(--artist-font-color);
  font-size: var(--artist-font-size);
  margin: var(--artist-margin);
  line-height: 1.4em;
  max-height: 1.4em;
  overflow: hidden;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: var(--max-artist-lines);
  -webkit-box-orient: vertical;
  word-break: break-word;
}
#now-playing .track-info .text .album {
  display: -webkit-box;
  color: var(--album-font-color);
  font-size: var(--album-font-size);
  margin: var(--album-margin);
  line-height: 1.2em;
  max-height: 1.2em;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: var(--max-album-lines);
  -webkit-box-orient: vertical;
  word-break: break-word;
}
#now-playing .track-info .text .media-info {
  margin: var(--media-info-margin);
}
#now-playing .track-info .text .media-info .format-icon {
  height: var(--media-info-font-size);
  margin-right: 5px;
}
#now-playing .track-info .text .media-info .quality {
  font-size: var(--media-info-font-size);
  color: var(--media-info-font-color);
  font-weight: normal;
  font-family: sans-serif;
}
#now-playing .track-info .controls {
  display: var(--playback-buttons-visibility);
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  margin: var(--playback-buttons-margin);
}
#now-playing .track-info .controls button {
  /*margin: 0px 4px;*/
  border: none;
  background: none;
  color: var(--widget-primary-color);
  cursor: pointer;
  transition: 0.2s;
  font-size: var(--playback-buttons-size);
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  padding: 0px;
}
#now-playing .track-info .controls button span {
  line-height: 1.5em;
  font-size: 1em;
  width: 1.5em;
}
#now-playing .track-info .controls button:focus {
  outline: none;
}
#now-playing .track-info .controls button.repeat, #now-playing .track-info .controls button.random {
  display: none;
}
#now-playing .track-info .controls button.repeat.active, #now-playing .track-info .controls button.random.active {
  color: var(--widget-highlight-color);
}
#now-playing .track-info .controls button.repeat span:before {
  content: "";
  font-family: "Material Icons";
}
#now-playing .track-info .controls button.repeat.single span:before {
  content: "";
}
#now-playing .track-info .controls button.play {
  color: var(--widget-highlight-color);
  position: relative;
}
#now-playing .track-info .controls button.play:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: -2px;
  top: -2px;
  border: 2px solid var(--widget-highlight-color);
  border-radius: 50%;
  transition: 0.2s;
  z-index: -1;
}
#now-playing .track-info .controls button.play:hover {
  color: var(--widget-primary-color) !important;
}
#now-playing .track-info .controls button.play:hover:before {
  background: var(--widget-highlight-color);
}
#now-playing .track-info .controls button.previous:hover, #now-playing .track-info .controls button.next:hover {
  color: var(--widget-highlight-color);
}
#now-playing .track-info .seekbar-wrapper {
  display: var(--seekbar-visibility);
  padding: 0px 0.6em;
  margin: var(--seekbar-margin);
}
#now-playing .track-info .seekbar-wrapper .seek {
  display: inline-block;
  width: 50%;
  font-family: "Noto Sans Display", sans-serif;
  font-size: 0.8em;
  font-weight: 100;
  margin-top: 0.5em;
  position: relative;
  left: -0.6em;
  text-align: left;
}
#now-playing .track-info .seekbar-wrapper .duration {
  display: inline-block;
  width: 50%;
  font-family: "Noto Sans Display", sans-serif;
  font-size: 0.8em;
  font-weight: 100;
  margin-top: 0.5em;
  position: relative;
  right: -0.6em;
  text-align: right;
}
#now-playing .track-info .seekbar-wrapper .seekbar.ui-widget-content {
  background: var(--widget-primary-color);
}
#now-playing .track-info .seekbar-wrapper .seekbar.ui-slider-horizontal {
  height: 5px !important;
  border: none;
  margin-bottom: 3px;
}
#now-playing .track-info .seekbar-wrapper .seekbar .ui-slider-range {
  height: 5px;
  background: var(--widget-highlight-color);
}
#now-playing .track-info .seekbar-wrapper .seekbar .ui-slider-handle,
#now-playing .track-info .seekbar-wrapper .seekbar .ui-slider-handle.ui-state-focus,
#now-playing .track-info .seekbar-wrapper .seekbar .ui-slider-handle.ui-state-active {
  top: -0.5em;
  border: none;
  background: var(--widget-highlight-color);
  border-radius: 1.2em;
  outline: none;
}
#now-playing .track-info .seekbar-wrapper .seekbar .ui-slider-handle:hover {
  cursor: pointer;
}
#now-playing .track-info .seekbar-wrapper .seekbar.ui-slider:before {
  content: "";
  border: inherit;
  border-radius: inherit;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -0.6em;
  /* Half of the handle width */
  background: var(--widget-highlight-color);
  width: 0.8em;
}
#now-playing .track-info .seekbar-wrapper .seekbar.ui-slider:after {
  content: "";
  border: inherit;
  border-radius: inherit;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -0.6em;
  background: inherit;
  width: 0.8em;
}
#now-playing .track-info .seekbar-wrapper .seekbar.ui-slider:hover {
  cursor: pointer;
}
#now-playing .track-info.controls-only .text,
#now-playing .track-info.controls-only .seekbar-wrapper {
  display: none;
}
#now-playing .track-info.controls-only .controls {
  margin-top: auto !important;
  margin-bottom: auto !important;
}
@media all and (orientation: landscape) and (max-height: 320px) {
  #now-playing {
    --default-media-info-margin: 0.2em 0px 0px 0px;
  }
}
@media (orientation: landscape) and (max-width: 579px) {
  #now-playing .track-info .controls {
    gap: 1em;
  }
}
@media (orientation: landscape) and (min-width: 600px) and (min-height: 320px) {
  #now-playing {
    --default-playback-buttons-margin: 1em 0px 1.5em 0px;
  }
}
@media (orientation: landscape) and (min-width: 580px) and (min-height: 320px) {
  #now-playing {
    --default-max-title-lines: 2;
  }
}
@media (orientation: landscape) and (min-width: 340px) {
  #now-playing .track-info .controls button.repeat, #now-playing .track-info .controls button.random {
    display: inline-block;
  }
}
@media (orientation: landscape) and (min-width: 768px) {
  #now-playing .track-info .controls {
    gap: 24px;
  }
}
@media all and (orientation: landscape) {
  #now-playing {
    --default-track-info-min-height: var(--default-albumart-height);
    --default-track-info-max-height: 100vh;
  }
  #now-playing .track-info {
    /* Set to same height as #albumart img */
    /**
        * Commenting out following since legacy Chromium on Volumio 2.x
        * doesn't support min()
        height: min(40vw, 80vh);
        min-height: min(40vw, 80vh);
        */
  }
}
@media all and (orientation: portrait) {
  #now-playing {
    padding: 2em 40px;
    --default-track-info-width: 80vw;
    --default-track-info-min-width: 80vw;
    --default-track-info-max-width: 100vw;
    --default-playback-buttons-margin: 1em 0px 2em 0px;
  }
  #now-playing > .contents {
    flex-direction: column;
  }
  #now-playing .albumart {
    margin-right: 0px;
    margin-bottom: 12px;
  }
  #now-playing .albumart img {
    /**
        * Commenting out following since legacy Chromium on Volumio 2.x
        * doesn't support min()
        width: min(80vw, 40vh);
        height: min(80vw, 40vh);
        */
  }
}
@media all and (orientation: portrait) and (min-width: 240px) and (min-height: 400px) {
  #now-playing {
    --default-max-title-lines: 2;
  }
  #now-playing .track-info .controls button.repeat, #now-playing .track-info .controls button.random {
    display: inline-block;
  }
}
@media (orientation: portrait) and (max-width: 279px) {
  #now-playing {
    --default-playback-buttons-size: 20px;
  }
  #now-playing .track-info .controls {
    gap: 1em;
  }
}
@media (orientation: portrait) and (min-width: 240px) and (max-width: 279px) {
  #now-playing .track-info .controls button.repeat, #now-playing .track-info .controls button.random {
    display: inline-block;
  }
}
@media (orientation: portrait) and (min-width: 320px) {
  #now-playing {
    --default-playback-buttons-size: 1.2em;
  }
}
@media (orientation: portrait) and (min-width: 380px) {
  #now-playing {
    --default-playback-buttons-size: 1.5em;
  }
}
@media (orientation: landscape) and (min-height: 240px) and (min-width: 400px) {
  #now-playing {
    --default-base-font-size: 12px;
  }
}
@media (orientation: landscape) and (min-height: 240px) and (min-width: 480px) {
  #now-playing {
    --default-base-font-size: 15px;
  }
}
@media (orientation: landscape) and (min-height: 320px) and (min-width: 640px) {
  #now-playing {
    --default-base-font-size: 16px;
  }
}
@media (orientation: landscape) and (min-height: 400px) and (min-width: 720px) {
  #now-playing {
    --default-base-font-size: 18px;
  }
}
@media (orientation: landscape) and (min-height: 400px) and (min-width: 800px) {
  #now-playing {
    --default-base-font-size: 20px;
  }
}
@media (orientation: landscape) and (min-height: 480px) and (min-width: 960px) {
  #now-playing {
    --default-base-font-size: 23px;
  }
}
@media (orientation: landscape) and (min-height: 600px) and (min-width: 1280px) {
  #now-playing {
    --default-base-font-size: 28px;
  }
}
@media (orientation: landscape) and (min-height: 900px) and (min-width: 1400px) {
  #now-playing {
    --default-base-font-size: 30px;
  }
}
@media (orientation: landscape) and (min-height: 900px) and (min-width: 1600px) {
  #now-playing {
    --default-base-font-size: 32px;
  }
}
@media (orientation: landscape) and (min-height: 1080px) and (min-width: 1680px) {
  #now-playing {
    --default-base-font-size: 34px;
  }
}
@media (orientation: landscape) and (min-height: 1080px) and (min-width: 1800px) {
  #now-playing {
    --default-base-font-size: 38px;
  }
}
@media (orientation: portrait) {
  #now-playing {
    --default-base-font-size: 10px;
  }
}
@media (orientation: portrait) and (min-width: 240px) and (min-height: 400px) {
  #now-playing {
    --default-base-font-size: 12px;
  }
}
@media (orientation: portrait) and (min-width: 240px) and (min-height: 480px) {
  #now-playing {
    --default-base-font-size: 14px;
  }
}
@media (orientation: portrait) and (min-width: 320px) and (min-height: 640px) {
  #now-playing {
    --default-base-font-size: 16px;
  }
}
@media (orientation: portrait) and (min-width: 400px) and (min-height: 720px) {
  #now-playing {
    --default-base-font-size: 18px;
  }
}
@media (orientation: portrait) and (min-width: 400px) and (min-height: 800px) {
  #now-playing {
    --default-base-font-size: 19px;
  }
}
@media (orientation: portrait) and (min-width: 480px) and (min-height: 960px) {
  #now-playing {
    --default-base-font-size: 22px;
  }
}
@media (orientation: portrait) and (min-width: 600px) and (min-height: 1280px) {
  #now-playing {
    --default-base-font-size: 28px;
  }
}
@media (orientation: portrait) and (min-width: 900px) and (min-height: 1400px) {
  #now-playing {
    --default-base-font-size: 32px;
  }
}
@media (orientation: portrait) and (min-width: 900px) and (min-height: 1600px) {
  #now-playing {
    --default-base-font-size: 36px;
  }
}
@media (orientation: portrait) and (min-width: 1080px) and (min-height: 1680px) {
  #now-playing {
    --default-base-font-size: 40px;
  }
}
@media (orientation: portrait) and (min-width: 1080px) and (min-height: 1800px) {
  #now-playing {
    --default-base-font-size: 44px;
  }
}/*# sourceMappingURL=np.css.map */