#------ Peppy ALSA Pipe section -------
pcm.peppy_in {
  type plug
  route_policy "duplicate"
  slave.channels 4
  slave.pcm {
    type multi

    slaves.a.pcm "peppy_out"
    slaves.a.channels 2
    slaves.b.pcm "peppy_fifo"
    slaves.b.channels 2

    bindings.0 { slave a; channel 0; }
    bindings.1 { slave a; channel 1; }
    bindings.2 { slave b; channel 0; }
    bindings.3 { slave b; channel 1; }
  }
}

pcm.peppy_fifo {
  type plug 
  slave.pcm "peppyalsa"

  # Having the following causes CamillaDSP to throw
  # snd_pcm_hw_params_set_period_size_near errors for
  # some formats. Seems to work fine without these lines
  # (audio gets resampled to 48000 which is the max supported
  # by Dummy PCM).

  #slave {
  #  pcm "peppyalsa"
  #  format "S16_LE"
  #  rate 44100
  #  channels 2
  #}
}

pcm.peppyalsa {
  type meter
  slave.pcm "peppy_dummy"
  scopes.0 peppyalsa
}

pcm_scope.peppyalsa {
  type peppyalsa
  decay_ms 400
  meter "/tmp/peppy_meter_fifo"
  meter_max 100
  meter_show 0
  spectrum "/tmp/peppy_spectrum_fifo"
  spectrum_max 100
  spectrum_size ${spectrumsize}
  logarithmic_frequency 1
  logarithmic_amplitude 1
  smoothing_factor 2
}

pcm_scope_type.peppyalsa {
  lib /data/plugins/audio_interface/peppy_alsa_pipe/alsa-lib/libpeppyalsa.so
}

pcm.peppy_dummy {
  type hw
  card Dummy
  device 0
}
#------ End of Peppy ALSA Pipe section -------
