#------ Peppy ALSA Pipe section -------

pcm.peppy_in {
  type meter
  slave.pcm "peppy_out"
  scopes.0 peppyalsa
}

pcm_scope.peppyalsa {
  type peppyalsa
  decay_ms 400
  meter "/tmp/peppy_meter_fifo"
  meter_max 100
  meter_show 0
  spectrum "/tmp/peppy_spectrum_fifo"
  spectrum_max 100
  spectrum_size ${spectrumsize}
  logarithmic_frequency 1
  logarithmic_amplitude 1
  smoothing_factor 2
}

pcm_scope_type.peppyalsa {
  lib /data/plugins/user_interface/peppyspectrum/alsa-lib/libpeppyalsa.so
}

#------ End of Peppy ALSA Pipe section -------
