log_level: trace
device_name: "${device_name}"
server:
  enabled: true
  port: 9879
audio_device: "volumio"
device_type: "${device_type}"
bitrate: ${bitrate_number}
external_volume: ${external_volume}
normalisation_pregain: ${normalisation_pregain}
zeroconf_enabled: true
