@mixin line-clamp($lines) {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: $lines;
  word-break: break-word;
  -webkit-box-orient: vertical;
}

@mixin queue-action-button($margin: 0px 8px) {
  border: none;
  background: none;
  cursor: pointer;
  transition: 0.2s;
  margin: $margin;
  color: #ccc;
  width: 2em;
  height: 2em;
  font-size: 1em;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;

  &:last-of-type {
    margin-right: 0px;
  }
}

@mixin queue-item {
  display: flex;
  /*padding: 15px 20px;*/
  padding: 0.7em 1em;
  align-items: center;
  cursor: pointer;
  transition: 0.2s ease;
  border-bottom: 1px solid #454545;

  &:hover {
    background: #303030;

    .albumart img {
      filter: brightness(1.2);
    }
  }
  
  .albumart {
    position: relative;
    width: 2.5em;
    min-width: 2.5em;
    height: 2.5em;

    img {
      display: block;
      width: 2.5em;
      height: 2.5em;
      border-radius: 0.2em;
      transition: 0.2s;
    }
  }

  .track-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    justify-content: center;

    .title {
      @include line-clamp(1);
      color: #ccc;
    }

    .artist-album {
      @include line-clamp(1);
      color: #7a848e;
      font-family: "Noto Sans Display", sans-serif;
    }
  }

  .actions {
    button {
      @include queue-action-button();

      &.remove:hover {
        color: #aa4a44;
      }
    }
  }

  &.playing {
    .albumart {
      background-image: url(/assets/equalizer.gif) !important;
      background-size: cover;

      img {
        display: none;
      }
    }
  }
}

#queue {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /*background: #202020;*/

  & > .contents {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #282828;

    @media (min-width: 1024px) {
      width: 80%;
      height: calc(100% - 4em);
      margin: 2em auto 2em auto;
      border-radius: 0.5em;
    }

    .header {
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;
      border-bottom: 1px solid #454545;

      .screen-actions {
        display: flex;
        align-items: center;
        margin-left: 1em;
        gap: 0.5em;
  
        button.action {
          color: #ccc;
        }
      }

      .title {
        display: inline-block;
        padding-left: 1em;

        .primary {
          color: #ccc;
          font-weight: 700;
        }

        .secondary {
          color: #7a848e;
          font-family: "Noto Sans Display", sans-serif;
          font-size: 0.9em;
        }
      }

      @media (max-width: 359px) {
        .title {
          padding-left: 0.3em;
        }

        .screen-actions {
          margin-left: 0.5em;
        }
      }

      button.action {
        @include queue-action-button(0px);
        font-size: 1em;
        z-index: 100;

        &.clear:hover {
          color: #aa4a44;
        }

        &.active {
          color: #24a4f3;
        }

        &.repeat {
          span:before {
            content: "\e040";
            font-family: "Material Icons";
            font-size: 1.5em;            
          }
          
          &.single span:before {
            content: "\e041";
          }
        }
      }

      .main-actions {
        flex-grow: 1;
        display: flex;
        align-items: center;
        padding: 1em;
        box-sizing: border-box;
        gap: 1em;
        justify-content: flex-end;
      }
    }

    .items-wrapper {
      width: 100%;
      flex-grow: 1;

      .os-scrollbar {
        .os-scrollbar-handle {
          background: #45454580;
  
          &.active {
            background: #454545cc;
          }
        }

        &:hover .os-scrollbar-handle {
          background: #454545cc;
        }
      }

      .items {
        margin: 0 auto;

        .item {
          @include queue-item;
        }
      }
    }
  }
}